/* -------------------------------------------------------

	Description: Web 2.0 Login Form
	Version: 1.0
	Author: Anli Zaimi
	Author URI: http://azmind.com

------------------------------------------------------- */


/* ------- This is the CSS Reset ------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr,
th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu,
nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* ------- HTML5 display-role reset for older browsers ------- */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ------- Remove Chrome's border around active fields ------- */

*:focus {
	outline: none;
}





/* --------------------------------------------------------------- */

/* ------- Body ------- */

body {
	background: #eeeeee url(../images/bg.jpg) top left repeat;
}


/* ------- Container ------- */

#container {
	margin: auto;
	margin-top: 180px;
	width: 524px;
	height: 262px;
	text-align: left;
	font-family: Verdana, Arial;
	font-weight: normal;
	font-size: 12px;
	color: #ffffff;
}



.home {
	width: 70px;
	height: 73px;
	float: left;
	margin-top: 122px;
	margin-left: 21px;
	font-size: 20px;
	padding: 25px 0 0 15px;
}

.home:hover, .home:focus {
	background: url(../images/go-hover.png) top left no-repeat;
}

.home a, .home a:hover, .home a:focus {
	color: #ffffff;
	text-decoration: none;
}

#footer {
	margin: auto;
	margin-top: 50px;
	width: 500px;
	height: 30px;
	background: url(../images/footer-bg.png) bottom center no-repeat;
	text-align: center;
	font-family: "Times New Roman", Times, Georgia;
	font-weight: normal;
	font-size: 16px;
	color: #8d8d8d;
}

#footer a {
	text-decoration: none;
	color: #8d8d8d;
}

#footer a:hover, #footer a:focus {
	text-decoration: none;
	color: #2d2d2d;
}

p{
	padding-left:35px;
	color:red;
}
/*

firma-index.php
*/

#main{
	margin: auto;
	margin-top: 80px;
	margin-left:100px;
	margin-right:100px;
	text-align: left;
	font-family: Verdana, Arial;
	font-weight: normal;
	font-size: 12px;
}
#main h1{
	font-size:30px;
}
#main h2{
	font-size:20px;
}
#cssmenu ul {
  margin-top: 10px;

  padding: 0;
  list-style-type: none;
  width: auto;
  position: relative;
  display: block;
  height: 30px;
  font-size: 12px;
  font-weight: bold;
  background: transparent url(../images/nav_bg.png) repeat-x top left;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
}
#cssmenu li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}
#cssmenu li a {
  display: block;
  float: left;
  color: #999999;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 20px 0 20px;
}
#cssmenu li a:hover {
  color: #FFFFFF;
  height: 22px;
  background: transparent url(../images/nav_bg.png) 0px -30px no-repeat;
}
#cssmenu li.active a {
  display: inline;
  height: 22px;
  background: transparent url(../images/nav_bg.png) 0px -30px no-repeat;
  float: left;
  margin: 0;
}

/*
tabela za spisok na dogovori

*/
.table_contracts {
	margin-top:55px;
	
	padding:0px;
	width:100%;
	
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.table_contracts table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.table_contracts tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.table_contracts table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.table_contracts table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.table_contracts tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.table_contracts tr:hover td{
	
}
.table_contracts tr:nth-child(odd){ background-color:#e5e5e5; }
.table_contracts tr:nth-child(even)    { background-color:#ffffff; }.table_contracts td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:11px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.table_contracts tr:last-child td{
	border-width:0px 1px 0px 0px;
}.table_contracts tr td:last-child{
	border-width:0px 0px 1px 0px;
}.table_contracts tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.table_contracts tr:first-child td{
		background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	background: -o-linear-gradient(top,#cccccc,b2b2b2);

	background-color:#cccccc;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}
.table_contracts tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	background: -o-linear-gradient(top,#cccccc,b2b2b2);

	background-color:#cccccc;
}
.table_contracts tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.table_contracts tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

/*kraj za tabela spisok na dogovori*/




/*css za formi*/

p.datum-izdavanje{
	padding:10px 0 10px 17px;
	color: #000000;
	font-size:15px;
	
}

#detali-rezervacija{
	margin:10px;
}

/*tabove*/
      .tabs input[type=radio] {
          position: absolute;
          top: -9999px;
          left: -9999px;
      }
      .tabs {
        width: 650px;
        float: none;
        list-style: none;
        position: relative;
        padding: 0;
        margin: 75px auto;
      }
      .tabs li{
        float: left;
      }
      .tabs label {
          display: block;
          padding: 10px 20px;
          border-radius: 2px 2px 0 0;
          color: #08C;
          font-size: 24px;
          font-weight: normal;
          font-family: 'Lily Script One', helveti;
          background: rgba(255,255,255,0.2);
          cursor: pointer;
          position: relative;
          top: 3px;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
      }
      .tabs label:hover {
        background: rgba(255,255,255,0.5);
        top: 0;
      }
       
      [id^=tab]:checked + label {
        background: #08C;
        color: white;
        top: 0;
      }
       
      [id^=tab]:checked ~ [id^=tab-content] {
          display: block;
      }
      .tab-content{
        z-index: 2;
        display: none;
        text-align: left;
        width: 100%;
        font-size: 20px;
        line-height: 140%;
        padding-top: 10px;
        background: #08C;
        padding: 15px;
        color: white;
        position: absolute;
        top: 53px;
        left: 0;
        box-sizing: border-box;
        -webkit-animation-duration: 0.5s;
        -o-animation-duration: 0.5s;
        -moz-animation-duration: 0.5s;
        animation-duration: 0.5s;
      }
 
/** css za validacija */     
.input-validation-error {
    background: #FEF1EC !important;
    border: 1px solid #CD0A0A !important;
}
.error{
	font-size: 12px;
	color: red;
	font-style: italic;
	padding-top: 7px;
}
.validation {
	border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('validation.png');
}

/*css za popupbox za izbiranje na mesto pocetok i mesto kraj */
#popupBox
{
	display: none;
	width: 20%;
	height: 300px;
	overflow: auto;
	left: 400px;
	top: 5%;
	position: absolute;
	z-index: 2000;
	border: 2px dashed #000000;
	background: #f9f9f9;
	padding-bottom: 20px
}
#popupBox_dokumenti
{
	display: none;
	width: 20%;
	height: 300px;
	overflow: auto;
	left: 400px;
	top: 5%;
	position: absolute;
	z-index: 2000;
	border: 2px dashed #000000;
	background: #f9f9f9;
	padding-bottom: 20px
}
#overlay
{
	display: none;
	width: 10px;
	height: 10px;
	left: 615px;
	top: 38px;
	position: absolute;
	z-index: 1000;
	background: #333;
	cursor: pointer;
}
#overlay_dokumenti
{
	display: none;
	width: 10px;
	height: 10px;
	left: 615px;
	top: 38px;
	position: absolute;
	z-index: 1000;
	background: #333;
	cursor: pointer;
}


ul.lokacija {
  list-style-type: none;
  width: 200px;

}
 
ul.lokacija h2 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
	margin-left: 10px;
	size: 100px;
}
 
ul.lokacija li img {
  float: left;
  margin: 0 15px 0 0;
}
 
ul.lokacija li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}
 
ul.lokacija li {
  padding: 0px;
  overflow: auto;
}
 
ul.lokacija li:hover {
  background: #eee;
  cursor: pointer;
}

/*kraj za popupbox za izbiranje na mesto pocetok i mesto kraj*/


